.btns {
    float: right;
}

.ItemLi {
    list-style-type: none;
    margin-bottom: 5px;
}

.btnDone {
    border-radius: 5px;
    background: #66b94d;
    margin-right: 10px;
}

.btnNotDone {
    border-radius: 5px;
    background: red;
}